.default-sortable.rank-list-container {
  border: 0px !important;
}

.default-sortable .rank-list-item {
  padding: 0px 0px !important;
}

.rank-list-item-stub {
  border: 1px solid black;
}

.rank-list-title {
 font-weight: bold;
}

.rank-list-select{
  background-color: #ddeaf6 !important;
}

.invalid .selectize-input {
  border: 2px solid red;
}
.invalid .form-control {
  border: 2px solid red;
}

.invalid .shiny-ace{
  border: 2px solid red;
}

.itemlist-start {
  flex: 1 0 200px;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 0px 5px;
  display: flex;
}

.itemlist-end {
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 0px 5px;
  display: inline-block;
}

.itemlist {
  flex: 1 0 auto;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  min-height: 30px;
}

.itemlist-item {
  border-radius: 3px;
  display: flex;
  padding: 0px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  overflow: hidden;
}

/* for navlinks in side_panel (wrapped around navlistPanel) */
.nav-pills a {
  color: #254988 !important;
}

.nav-pills a:hover {
  color: #1D3A6D;
  background: #AAC0E8;
}

.nav-pills .nav-link.active {
  color: #ffffff !important;
  background: #254988;
}

/* for title and navlinks in navheader */
.navbar.navbar-default {
  background-color: #254988 !important;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff !important;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #CF4F15 !important;
}

.nav-underline > li > a.active{
  color: #CF4F15 !important;
}

.navbar-nav {
    --bs-nav-link-padding-y: 0 !important;
}

.navbar {
  font-size: 1.3rem !important;
  font-weight: bold !important;
}

.navbar-brand {
  font-size: 1.4rem !important;
  font-weight: bold !important;
  text-shadow: 1px 1px #CF4F15;
}

.navheader_padding {
  margin-top: 30px !important;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar .container-fluid {
  height: 30px;
}

/* for required/optional note in side_panel navlinks */
.zero_margin {
  margin: 0px !important;
}

#tab_note {
  color: #CF4F15;
  margin: 0px;
  font-style: italic;
  font-size: 14px;
  font-weight:; normal !important;
}

.nav-pills a:hover #tab_note {
  color: #254988;
}

.nav-pills .nav-link.active #tab_note {
  color: #ffffff;
}

/* for scrollbar */
::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F8FD;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AAC0E8;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6C87B2;
}

/* heading style */
.heading_style {
  color: #254988;
  font-weight: bold !important;
}

/* for text input labels under settings */
.form-label {
  margin-bottom: 0.5rem !important;
}


/* tab panel title */
.nav {
  --bs-nav-link-color: #CF4F15;
  --bs-nav-link-hover-color: #BD4813;
}

/* for tab content */
#content_border {
 border-radius: 10px;
 border: 1px solid #AAC0E8;
 background: #F5F8FD;
 padding: 15px;
}

/* for table refresh button */
.btn-danger {
  background-color: #CF4F15;
  box-shadow: 0 0 15px #CF4F15;
}

/* for wellPanel */
div.well {
  background: #F9F9F9;
  border: 1px solid #AAC0E8;
}

/* for code output */
pre.shiny-text-output {
  background: #FFFFFF;
}

/* for refresh button */
.btn-refresh {
  color: #FFFFFF !important;
  background: #254988 !important;
  border-color: #254988 !important;
}
.btn-refresh:hover {
  color: #FFFFFF !important;
  background-color: #1D3A6D !important;
  border-color: #1D3A6D !important;
}

/* for circle button */
.btn-circle > button {
  color: #FFFFFF !important;
  background: #254988 !important;
  border-color: #254988 !important;
  margin-bottom: 5px !important;
}
.btn-circle:hover > button {
  color: #FFFFFF !important;
  background-color: #1D3A6D !important;
  border-color: #1D3A6D !important;
  margin-bottom: 5px !important;
}

/* for reset/new/delete/circle/save/frmt buttons */
.btn-reset > button,
.btn-new > button,
.btn-delete > div > button,
.btn-frmt > button,
.btn-save > button {
  color: #FFFFFF !important;
  background: #254988 !important;
  border-color: #254988 !important;
}
.btn-reset:hover > button,
.btn-new:hover > button,
.btn-delete:hover > div > button,
.btn-frmt:hover > button,
.btn-save:hover > button {
  color: #FFFFFF !important;
  background-color: #1D3A6D !important;
  border-color: #1D3A6D !important;
}

/* for export button */
.btn-export > div > a {
  color: #FFFFFF !important;
  background: #254988 !important;
  border-color: #254988 !important;
}
.btn-export:hover > div > a {
  color: #FFFFFF;
  background-color: #1D3A6D !important;
  border-color: #1D3A6D !important;
}

/* for pagination buttons */
.btn-page {
  color: #FFFFFF !important;
  background: #254988 !important;
  border-color: #254988 !important;
}
.btn-page:hover {
  color: #FFFFFF !important;
  background-color: #1D3A6D !important;
  border-color: #1D3A6D !important;
}

/* for fileInput (browse) button */
span.btn.btn-default.btn-file {
  color: #FFFFFF !important;
  background: #254988 !important;
  border-color: #254988 !important;
}
span.btn.btn-default.btn-file:hover {
  color: #FFFFFF;
  background-color: #1D3A6D !important;
  border-color: #1D3A6D !important;
}

/* home tab links */
.home_links {
 color: #CF4F15 !important;
}

.unclickable {
  pointer-events:none;
}

/* sidebar */
.sidebar {
  background-color: #FFFFFF !important;
}

.sidebar .nav-tabs a {
  color: #1D3A6D;
}

.sidebar .nav-tabs a:hover {
  color: #1D3A6D;
  background: #AAC0E8;
}

.sidebar .nav-tabs .nav-link-active {
  color: #ffffff;
  background: #254988;
}

/* card full-screen options */
.bslib-full-screen-enter {
  bottom: var(--bslib-full-screen-enter-bottom);
}

