.default-sortable.rank-list-container {
  border: 0px !important;
}

.default-sortable .rank-list-item {
  padding: 0px 0px !important;
}

.rank-list-select{
  background-color: #ddeaf6 !important;
}

.invalid .selectize-input {
  border: 2px solid red;
}
.invalid .form-control {
  border: 2px solid red;
}

.itemlist-start {
  flex: 1 0 200px;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 0px 5px;
  display: flex;
}

.itemlist-end {
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 0px 5px;
  display: inline-block;
}

.itemlist {
  flex: 1 0 auto;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  min-height: 30px;
}

.itemlist-item {
  border-radius: 3px;
  display: flex;
  padding: 0px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  overflow: hidden;
}

/* for navlinks in side_panel (wrapped around navlistPanel) */
.side_panel .nav-pills a {
  color: #254988;
}

.side_panel .nav-pills a:hover {
  color: #1D3A6D;
  background: #AAC0E8;
}

.side_panel .nav-pills .nav-link.active {
  color: #ffffff;
  background: #254988;
}

/* for title and navlinks in navheader */
.navbar.navbar-default {
  background-color: #254988 !important;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff !important;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #E85819 !important;
}

.navbar-default .navbar-nav > li > a.active {
  text-decoration: underline #E85819;
}

.navbar {
  font-size: 1.3rem !important;
  font-weight: bold !important;
}

.navbar-brand {
  font-size: 1.4rem !important;
  font-weight: bold !important;
  text-shadow: 1px 1px #E85819;
}

.navheader_padding {
  margin-top: 30px !important;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar .container-fluid {
  height: 30px;
}

/* for required/optional note in side_panel navlinks */
.zero_margin {
  margin: 0px !important;
}

#tab_note {
  color: #E85819;
  margin: 0px;
  font-style: italic;
  font-size: 14px;
  font-weight:; normal !important;
}

.side_panel .nav-pills a:hover #tab_note {
  color: #254988;
}

.side_panel .nav-pills .nav-link.active #tab_note {
  color: #ffffff;
}

/* for scrollbar */
::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #FFDFD1;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F29A72;
}

/* heading style */
.heading_style {
  color: #E85819;
  font-weight: bold !important;
}

/* for text input labels under settings */
label {
  margin-bottom: 0.5rem !important;
}

/* tab panel title */
.nav {
  --bs-nav-link-color: #E85819;
  --bs-nav-link-hover-color: #D14F15;
}

/* for tab content */
#content_border {
 border-radius: 10px;
 border: 1px solid #F8C7B2; /*#83A3DD;*/
 background: #F2F6FC;
 padding: 15px;
}

/* for table/data view tab names */
a.nav-link > div.tab_names {
  font-weight: bold !important;
  font-size: 20px !important;
}

/* for table refresh button */
.btn-danger {
  background-color: #254988;
  box-shadow: 0 0 15px #E85819;
}

/* for wellPanel */
div.well {
  background: #F7F7F7;
  border: 1px solid #F8C7B2;
}

/* for code output */
pre.shiny-text-output {
  background: #FFFFFF;
}

/* for refresh button */
.btn-refresh {
  color: #FFFFFF;
  background: #E85819 !important;
  border-color: #E85819 !important;
}
.btn-refresh:hover {
  color: #FFFFFF;
  background-color: #D14F15 !important;
  border-color: #D14F15 !important;
}

/* for reset button */
.btn-reset > button {
  color: #FFFFFF;
  background: #666666 !important;
  border-color: #666666 !important;
}
.btn-reset:hover > button {
  color: #FFFFFF;
  background-color: #575757 !important;
  border-color: #575757 !important;
}

